
*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
body{
    background: black;
    
}
.parallex1{
    width: 100%;
    height: 60vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/drone.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0; 
    transform: translateZ(-1px)scale(1.025);
}
@media only screen and (max-width: 500px){
    .parallex1{
         height: 40vh;
         transform: translateZ(-1px)scale(1.03);
    }
    .parallex2{
        height: 40vh;
        transform: translateZ(-1px)scale(1.03);
   }
   .parallex3{
    height: 40vh;
    transform: translateZ(-1px)scale(1.03);
}
}

.parallex2{
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/hand.jpeg");
    height: 60vh; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0; 
    transform: translateZ(-1px)scale(1.025);
}
.parallex3{
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/code.png");
    height: 60vh; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0; 
    transform: translateZ(-1px)scale(1.025);
}
/*css for header*/
header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/roboback.jpg");
    height: 95vh; 
    position: relative;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0; 
    z-index:10;
}

.row{
    max-width: 1550px;
    margin: 0 auto;
}
.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height:0px;
    clear: both; 
}
.logo{
    height: 110px;
    width: auto;
    float: left;
    margin-top: -10px;
}
.main-nav{ 
    float: right;
    margin-top: 40px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 50px;

}
.main-nav li a{
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100px;
}
.main-nav li a:hover{
    border-bottom: 2px solid  #bf55ec;
}

.main-content-header{
    width: 1300px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-content-header h1{
    color: #fff;
    font-size: 240%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Flamenco', cursive;
    font-weight:bolder;
}
.colorchange{
    animation: colorchanged 6s infinite;
}
@keyframes colorchanged{
    0%{color:rgb(255, 0, 0);}
    25%{color:#bf55ec;}
    50%{color: rgb(0, 238, 255);}
    100%{color:rgb(7, 134, 7);};
}

.mobile-icon{
    display: none;
}

@media only screen and (max-width: 1200px) {
    .main-content-header{
        width: 100%;
        padding: 0 3%;
        margin-left: 2%;
    }
    
  }
  @media only screen and (max-width: 998px) {
    .main-content-header h1{
        font-size: 200%;
    }
    
  }
  @media only screen and (max-width: 768px) {
    .main-content-header h1{
        font-size: 180%;
    }
    .main-nav{
        display:none;
    }
    .mobile-icon{
        display: block;
        color: white;
        float: right;
        padding-top: 20px;
        padding-right: 20px;
    }
    .main-nav{
        float: left;
        padding-top: 20px;
        padding-left: 20%;
    }
    .main-nav li{
        display: block;
        margin-top: 10px;
        margin-left: 0%;
    }
    .logo{
        height: 100px;
        width: auto;
        float: left;
        margin-top: -10px;
        margin-left: 10px;
    }
    header{
    background-size:cover;
    background-color: rgb(15, 29, 34);
    height: 120vh; 
    }
  }
  @media only screen and (max-width: 500px){
    .main-content-header h1{
        font-size: 180%;
        text-align:center;
        font-weight: bold;
    }

    .main-content-header{
       
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    body{
        width:100%;
        margin: 0px;
        padding: 0px;
    }


.about-box2{
    width: 120%;
    height: 200px;
    position: relative;
    overflow-y:scroll; 
    margin-left: 10%;
    margin-top: -30px;
}
.about-container .about-box2 p{
    font-size: 120%;
    color: white;
    padding-top: 0px;
    text-align:justify;
    font-family: 'Flamenco', cursive;
}
.about-box2::-webkit-scrollbar {
    display: none;/*chorme and Safari*/
}
.about-box2 {
        -ms-overflow-style: none;  /*IE 10+*/
        scrollbar-width: none;  /* Firefox*/
       }
          
}
/*Stricy css is started*/
.sticky {
    width: 100%;
    height: 80px;
    top: 0px;
    background-color: rgba(18, 18, 19, 0.863);
    position: fixed;
    z-index:1;
}

#navbar{
    overflow: hidden;
}


section .box1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/robowarback.jpg);
    background-size:cover; 
    margin: 50px 0 20px;
}
section .box1 .leftBox{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
     
}
section .box1 .leftBox .content{
    color: rgb(196, 189, 189);
    background:rgba(0,0,0,0.5);
    padding:40px;
    transition: 0.5s;
    border-radius: 15px;
    
}
section .box1 .leftBox .content:hover{
    background: #e91e63;

}
section .box1 .leftBox .content h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Flamenco', cursive;
    letter-spacing: 3px;
}
section .box1 .leftBox .content p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}
section .box1 .events{
    position: relative;
    width: 50%;
    height: 100%;
    /*background:rgba(0,0,0,0.5);*/
    background: transparent;
    float: right;
    box-sizing: border-box;
}
section .box1 .events ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding:40px;
    box-sizing: border-box;
}
section .box1 .events ul li{
    list-style: none;
  /*  background: #fff;*/
    box-sizing: border-box;
    height: 150px;
    margin: 25px 0;
    border-radius:15px; 
}
section .box1 .events ul li .imgBox{
    position: relative;
    padding: 0px;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float:left;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
}
section .box1 .events ul li .imgBox img{
    position: relative;
    width:120px;
    height: 120px;
    margin-top: 10%;
    border-radius:50%;
    border: 4px solid white;
    transition: 0.5s;
   
}
section .box1 .events ul li:hover .imgBox img{
    transform: scale(1.2);
    border: 4px solid #e91e63;
}

section .box1 .events ul li:hover .details{
    background: #e91e63;
}

section .box1 .events ul li .details{
    padding: 20px;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    float: left;
    cursor: pointer;
    border-radius: 15px;
    color: rgb(196, 189, 189);

}
section .box1 .events ul li .details h3{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Flamenco', cursive;
}

@media (max-width:991px)
{
    section .box1{
        height: 100%;
        background-position:center; 
    }
    section .box1 .leftBox{
        width: 100%;
        height: auto;
        float: none;
        padding: 20px;
    }
    section .box1 .events{
        position: relative;
        width: 100%;
        height: 100%;
        background:transparent;
        float: none;
        box-sizing: border-box;
    }
    section .box1 .leftBox .content{
        padding: 20px;
    }
    section .box1 .leftBox .content h1{
        font-size: 30px;
    }
    section .box1 .events ul{
        position: relative;
        transform: translateY(0px);
        padding: 0 20px 20px;
    }
    section .box1 .events ul li{
        height: auto;
    }
    section .box1 .events ul li .details{
        height: auto;
        
    }
    section .box1 .events ul li .imgBox img{
        width: 50px;
        height:50px;
    }

    
}
@media (max-width:500px)
{
    section .box1 .events ul li .details h3{
        font-size: 18px;
    }
    section .box1 .events ul li .details p{
        font-size: 16px;
    }
    section .box1 .leftBox .content h1{
        font-size: 30px;
    }
    section .box1 .leftBox .content p{
        font-size: 16px;
    }
}



section .box2{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/team.jpg);
    background-size:cover; 
    margin-bottom: 20px;
}
section .box2 .leftBox{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
     
}
section .box2 .leftBox .content{
    color: rgb(196, 189, 189);
    background:rgba(0,0,0,0.5);
    padding:40px;
    transition: 0.5s;
    border-radius: 15px;
    
}
section .box2 .leftBox .content:hover{
    background: #e91e63;

}
section .box2 .leftBox .content h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Flamenco', cursive;
    letter-spacing: 3px;
}
section .box2 .leftBox .content p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}
section .box2 .events{
    position: relative;
    width: 50%;
    height: 100%;
    /*background:rgba(0,0,0,0.5);*/
    background: transparent;
    float: right;
    box-sizing: border-box;
}
section .box2 .events ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding:40px;
    box-sizing: border-box;
}
section .box2 .events ul li{
    list-style: none;
  /*  background: #fff;*/
    box-sizing: border-box;
    height: 150px;
    margin: 25px 0;
    border-radius:15px; 
}
section .box2 .events ul li .imgBox{
    position: relative;
    padding: 0px;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float:left;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
}
section .box2 .events ul li .imgBox img{
    position: relative;
    width:120px;
    height: 120px;
    margin-top: 10%;
    border-radius:50%;
    border: 4px solid white;
    transition: 0.5s;
   
}
section .box2 .events ul li:hover .imgBox img{
    transform: scale(1.2);
    border: 4px solid #e91e63;
}

section .box2 .events ul li:hover .details{
    background: #e91e63;
}

section .box2 .events ul li .details{
    padding: 20px;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    float: left;
    cursor: pointer;
    border-radius: 15px;
    color: rgb(196, 189, 189);

}
section .box2 .events ul li .details h3{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Flamenco', cursive;
}

@media (max-width:991px)
{
    section .box2{
        height: 100%;
        background-position:center; 
    }
    section .box2 .leftBox{
        width: 100%;
        height: auto;
        float: none;
        padding: 20px;
    }
    section .box2 .events{
        position: relative;
        width: 100%;
        height: 100%;
        background:transparent;
        float: none;
        box-sizing: border-box;
    }
    section .box2 .leftBox .content{
        padding: 20px;
    }
    section .box2 .leftBox .content h1{
        font-size: 30px;
    }
    section .box2 .events ul{
        position: relative;
        transform: translateY(0px);
        padding: 0 20px 20px;
    }
    section .box2 .events ul li{
        height: auto;
    }
    section .box2 .events ul li .details{
        height: auto;
        
    }
    section .box2 .events ul li .imgBox img{
        width: 50px;
        height:50px;
    }

    
}
@media (max-width:500px)
{
    section .box2 .events ul li .details h3{
        font-size: 18px;
    }
    section .box2 .events ul li .details p{
        font-size: 16px;
    }
    section .box2 .leftBox .content h1{
        font-size: 30px;
    }
    section .box2 .leftBox .content p{
        font-size: 16px;
    }
}

section .box3{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/game1.jpg);
    background-size:cover; 
    margin-bottom: 20px;
}
section .box3 .leftBox{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
     
}
section .box3 .leftBox .content{
    color: rgb(196, 189, 189);
    background:rgba(0,0,0,0.5);
    padding:40px;
    transition: 0.5s;
    border-radius: 15px;
    
}
section .box3 .leftBox .content:hover{
    background: #e91e63;

}
section .box3 .leftBox .content h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Flamenco', cursive;
    letter-spacing: 3px;
}
section .box3 .leftBox .content p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}
section .box3 .events{
    position: relative;
    width: 50%;
    height: 100%;
    /*background:rgba(0,0,0,0.5);*/
    background: transparent;
    float: right;
    box-sizing: border-box;
}
section .box3 .events ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding:40px;
    box-sizing: border-box;
}
section .box3 .events ul li{
    list-style: none;
  /*  background: #fff;*/
    box-sizing: border-box;
    height: 150px;
    margin: 25px 0;
    border-radius:15px; 
}
section .box3 .events ul li .imgBox{
    position: relative;
    padding: 0px;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float:left;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
}
section .box3 .events ul li .imgBox img{
    position: relative;
    width:120px;
    height: 120px;
    margin-top: 10%;
    border-radius:50%;
    border: 4px solid white;
    transition: 0.5s;
   
}
section .box3 .events ul li:hover .imgBox img{
    transform: scale(1.2);
    border: 4px solid #e91e63;
}

section .box3 .events ul li:hover .details{
    background: #e91e63;
}

section .box3 .events ul li .details{
    padding: 20px;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    float: left;
    cursor: pointer;
    border-radius: 15px;
    color: rgb(196, 189, 189);

}
section .box3 .events ul li .details h3{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Flamenco', cursive;
}

@media (max-width:991px)
{
    section .box3{
        height: 100%;
        background-position:center; 
    }
    section .box3 .leftBox{
        width: 100%;
        height: auto;
        float: none;
        padding: 20px;
    }
    section .box3 .events{
        position: relative;
        width: 100%;
        height: 100%;
        background:transparent;
        float: none;
        box-sizing: border-box;
    }
    section .box3 .leftBox .content{
        padding: 20px;
    }
    section .box3 .leftBox .content h1{
        font-size: 30px;
    }
    section .box3 .events ul{
        position: relative;
        transform: translateY(0px);
        padding: 0 20px 20px;
    }
    section .box3 .events ul li{
        height: auto;
    }
    section .box3 .events ul li .details{
        height: auto;
        
    }
    section .box3 .events ul li .imgBox img{
        width: 50px;
        height:50px;
    }

    
}
@media (max-width:500px)
{
    section .box3 .events ul li .details h3{
        font-size: 18px;
    }
    section .box3 .events ul li .details p{
        font-size: 16px;
    }
    section .box3 .leftBox .content h1{
        font-size: 30px;
    }
    section .box3 .leftBox .content p{
        font-size: 16px;
    }
}

section .box4{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/skill.jpg);
    background-size:cover; 
    margin-bottom: 0px;
}
section .box4 .leftBox{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
     
}
section .box4 .leftBox .content{
    color: rgb(196, 189, 189);
    background:rgba(0,0,0,0.5);
    padding:40px;
    transition: 0.5s;
    border-radius: 15px;
    
}
section .box4 .leftBox .content:hover{
    background: #e91e63;

}
section .box4 .leftBox .content h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Flamenco', cursive;
    letter-spacing: 3px;
}
section .box4 .leftBox .content p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}
section .box4 .events{
    position: relative;
    width: 50%;
    height: 100%;
    /*background:rgba(0,0,0,0.5);*/
    background: transparent;
    float: right;
    box-sizing: border-box;
}
section .box4 .events ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding:40px;
    box-sizing: border-box;
}
section .box4 .events ul li{
    list-style: none;
  /*  background: #fff;*/
    box-sizing: border-box;
    height: 150px;
    margin: 25px 0;
    border-radius:15px; 
}
section .box4 .events ul li .imgBox{
    position: relative;
    padding: 0px;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float:left;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
}
section .box4 .events ul li .imgBox img{
    position: relative;
    width:120px;
    height: 120px;
    margin-top: 10%;
    border-radius:50%;
    border: 4px solid white;
    transition: 0.5s;
   
}
section .box4 .events ul li:hover .imgBox img{
    transform: scale(1.2);
    border: 4px solid #e91e63;
}


section .box4 .events ul li:hover .details{
    background: #e91e63;
}

section .box4 .events ul li .details{
    padding: 20px;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    float: left;
    cursor: pointer;
   border-radius: 15px;
    color: rgb(196, 189, 189);

}
section .box4 .events ul li .details h3{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Flamenco', cursive;
}

@media (max-width:991px)
{
    section .box4{
        height: 100%;
        background-position:center; 
    }
    section .box4 .leftBox{
        width: 100%;
        height: auto;
        float: none;
        padding: 20px;
    }
    section .box4 .events{
        position: relative;
        width: 100%;
        height: 100%;
        background:transparent;
        float: none;
        box-sizing: border-box;
    }
    section .box4 .leftBox .content{
        padding: 20px;
    }
    section .box4 .leftBox .content h1{
        font-size: 30px;
    }
    section .box4 .events ul{
        position: relative;
        transform: translateY(0px);
        padding: 0 20px 20px;
    }
    section .box4 .events ul li{
        height: auto;
    }
    section .box4 .events ul li .details{
        height: auto;
        
    }
    section .box4 .events ul li .imgBox img{
        width: 50px;
        height:50px;
    }

    
}
@media (max-width:500px)
{
    section .box4 .events ul li .details h3{
        font-size: 18px;
    }
    section .box4 .events ul li .details p{
        font-size: 16px;
    }
    section .box4 .leftBox .content h1{
        font-size: 30px;
    }
    section .box4 .leftBox .content p{
        font-size: 16px;
    }
}

.footer-main-div{
    width: 100%;
    height: auto;
    margin:auto;
    background: #272727;
    padding: 20px 0px;
}
.footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #35a568;
}
#facebook:hover{
    background: rgb(82, 82, 250);
}
#instagram:hover{
    background:linear-gradient(rgb(202, 4, 113),rgb(216, 216, 71));
}
#youtube:hover{
    background: rgb(180, 24, 13);
}
#google:hover{
    background: rgb(124, 48, 48);
}
.footer-social-icons ul li a{
    color:#272727;
    font-size: 25px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li {
    display: inline-block;
    margin: 0px 20px;
}
.footer-menu-one ul li a{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    outline: none;
}
.footer-menu-one ul li a:hover{
    color: #18f1e7;
}
.footer-bottom{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgba(18, 18, 19, 0.863);
    padding:10px 0; 
}
.footer-bottom{
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}
.footer-bottom p a{
    color: #fff;
    text-decoration: none;

}
